= render '/admin_lte/header'

%body.login-page
  .login-box
    .login-logo
      - if content_for?(:admin_title_link)
        = yield :admin_title_link
      - else
        %a.logo{:href => "#"}
          %b> Origammi
          CMF/S
    .login-box-body
      = yield

  = render '/admin_lte/footer'