= render 'layouts/admin_lte_header'
%body.login-page
.login-box
  .login-logo
    - if content_for?(:admin_title_link)
      = yield :admin_title_link
    - else
      %a.logo{:href => "#"}
        %b> Origammi
        CMF/S
  .login-box-body
    = yield
= render 'layouts/admin_lte_footer'
:javascript
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' // optional
    });
  });